<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  
  <center><h1>
    This is the home page of our website
  </h1></center>
  <center><p>please enter the login credentials or register</p></center>
 <center> <div>

    <form action="{% url 'check' %}"  method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
        <input type="submit" value="Login">
      </p>
    </center>
      
    </form>
    <center>for new user registere here <a href="registration.html">REGISTER</a></center>
  </div>
</body>
</html>